@font-face {
  font-family: 'Daruma';
  src: url('../../src/assets/fonts/DarumadropOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  src: url('../../src/assets/fonts/Sigmar-Regular.ttf') format('truetype');
}

.educationintro{
  border: 1px solid;
  margin-inline: 20%;
  border-radius: 30px;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  font-family: 'Daruma';
  background-color: rgb(218, 206, 206);

 }
 .educationintro-title{
  text-align: center;
  font-size: 45px;
 }
 .hz-separator{
  border: 1px solid rgb(68, 67, 67);
 }
 .educationintro-info{
  padding-inline: 40px;
  text-align: center;
  font-size: 35px;
 } 