.footer{
  position: absolute;
  background-color: black;
  color: white;
  height: 140px;
  right: -8px;
  left: -9px;
  bottom: -240px;
  padding-inline: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footerinfo{
  width: 50%;
  font-size: 1.1em;
}

#feedback{
  width: 200px;
  height: 50px;
}
#submitfeedback{
  margin-block: 40px;
  height: 30px;
  border-radius: 10px;
  &:hover{
    cursor: pointer;
    background-color: rgb(142, 46, 163);
    color: wheat;
  }
}
.message{
  color: greenyellow;
  font-size: 25px;
  font-weight: bold;
}
