@font-face {
  font-family: 'Daruma';
  src: url('../../src/assets/fonts/DarumadropOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  src: url('../../src/assets/fonts/Sigmar-Regular.ttf') format('truetype');
}

.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 75px 20px 65px;
  margin: 0;
  display: flex;
  background-color: black;
  z-index: 100;
}
.navbar-home{
  flex: 1;
  color: white;
  font-family: 'Daruma';
  font-size: 20px;
}
.navbar-pages{
  display: flex;
  color: white;
  font-family: 'Daruma';
  font-size: 20px;
  justify-content: space-between;
  flex: 1.5;
}
.link{
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: transform .2s;
  transform-origin: center;
  &:hover{
    transform: scale(1.4);
    cursor: pointer;
  }
}
.highlight{
  color: rgb(219, 176, 248);
  transform: scale(1.8);
  &:hover{
    transform: scale(1.8);
  }
}