@font-face {
  font-family: 'Daruma';
  src: url('/fonts/DarumadropOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Sigmar-Regular.ttf') format('truetype');
}
@font-face{
  font-family: "Franklin Gothic Medium Mobile";
  src: url("/fonts/Franklin Gothic Medium Regular.ttf") format("truetype");
}

*{
  box-sizing: border-box;
}

html, #root, body{
  height: 100%;
  margin: 0;
  font-size: 30px;
}

.page-container {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  flex-direction: column;
  background: linear-gradient(to right, rgb(168, 138, 1), rgb(243, 220, 117));
  min-height: 100vh;    
  padding-top: 80px;
}

.routes{
  flex: 1;
}

.footer{
  flex: 1;
}

.rowcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
    gap: 10px;
}

.columncontainer{
  display: flex;  
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

@media (max-width: 1100px){
  .page-container{
    margin-top: 40px;
  }
}
@media (max-width:500px){
  .page-container{
    margin-top: 0px;
  }
}
